body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(169, 169, 169);
  position: relative;
  flex-direction: column;
  align-items: center;
}

.icon {
  margin: 0;
  display: flex;
  padding: 20px;
  align-items: center;
  position: absolute;
  left: 0;
  font-size:xx-large;
  cursor: pointer;
  box-sizing: border-box;
  height: 100%;
}

#caption {
  color: gray;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.main {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.sign-up, .log-in {
  text-decoration: none;
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(0, 0, 255);
  color: white;
  font-size: 30px;
}

.sign-up:hover, .log-in:hover {
  background-color: rgb(54, 48, 218);
}

.title {
  font-size: 30px;
  padding: 0;
  padding-top: 40px;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  padding: 0;
  padding-top: 40px;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 80%; /* Adjust width as needed */
    padding: 10px; /* Increases the padding inside the inputs */
    margin: 10px 0; /* Adds margin for spacing between inputs */
    font-size: 16px; /* Increase font size for better readability */
    border-radius: 5px; /* Optional: Rounds the corners of the input boxes */
}

form button {
    width: 80%; /* Adjust width as needed */
    padding: 15px; /* More padding for a larger button */
    font-size: 18px; /* Larger font size for the button */
    border-radius: 5px; /* Optional: Rounds the corners of the button */
}

button {
  margin-top: 20px;
  cursor: pointer;
  background-color: rgb(0, 0, 255);
  color: white;
  font-weight: bold;
}

button:hover {
  background-color: rgb(54, 48, 218);
}